:root {
    --main-color: #695847;
    --on-hover-color: #44392e;
    --secondary-color: #C6FFDD;
    --text-color: white;
    --secondary-text-color: #888;
}

body {
    font-family: "Cairo", sans-serif;
    background-color: rgb(31, 31, 31);
    background-image: url("background.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: right;
}

input::placeholder {
    color: var(--secondary-text-color);
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

h1 {
    font-size: 1.8em;
    margin: 0;
    font-weight: bold;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    text-align: right;
}

.container h1 {
    color: white;
    font-size: 2em;
    margin-bottom: 25px;
    border-bottom: 2px solid var(--main-color);
    display: inline-block;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 12px 10px;
    font-size: 1em;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s ease;
    text-align: right;
}

.options {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.option-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.option-group label {
    width: 120px;
    margin-right: 15px;
    text-align: right;
    font-weight: bold;
}

.option-group input[type="radio"] {
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 12px 20px;
    font-size: 1.1em;
    background-color: var(--main-color);
    color: var(--text-color);
    border: none; 
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
}

button:hover {
    background-color: var(--on-hover-color);
}

.buttons {
    display: flex;
    gap: 10px; 
}

#resultOutput {
    font-size: large;
    text-align: right;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.header-container {
    text-align: left; 
    padding: 5px; 
    margin-top: -30;
    margin-left: 10px;
}

.header-container h1 {
    margin: 0; 
    font-family: "Aref Ruqaa", sans-serif; 
    color: var(--text-color);
    font-weight: 800;
    font-size: 3rem; 
    display: inline-block;
}

.social-icons {
    margin-top: 20%;
}

.social-icons a {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 0.7rem;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    color: var(--text-color);
    margin: 1.5rem;
    transition: 0.3s ease;
}

.social-icons a:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}

.big-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .big-container {
        flex-direction: column;
        justify-content: space-between;
        height: 100vh; 
    }

    .social-icons {
        display: flex;
        justify-content: center;
        order: 2;
        margin-bottom: 25px;
        margin-top: auto; 
    }

    .container {
        order: 1;
    }
}

@media (max-width: 480px) {
    .social-icons a {
        font-size: 20px;
    }
}
